.players-selection-container {
  display: flex;
  flex-direction: row;
}

.current-players-container,
.selected-players-container {
  flex: 1;
}

.player .selected {
  background-color: lightblue;
  margin: 10px;
}

.max-height-500 {
  max-height: 500px;
  overflow: auto;
}

.current-players-container > ul > li {
  max-height: 50px;
}

.selected-players-container > ul > li {
  max-height: 50px;
}
